program.pro.user.1.3
program.pro
program.pro.user
/build
.gitignore.swp
.gitignore
Makefile
main.o
program
expr1.txt.ods
main.cpp.autosave
program.pro.user.3.2-pre1
/Debug
courseProgram.pro
courseProgram.pro.user
